<section *ngIf="media" class="grid mx-0 mt-2 surface-card animate__animated animate__fadeIn animate__fast">
    <div class="col-12 px-0 py-0 flex opacity-70">
        <img [src]="media.bannerImage" *ngIf="media.bannerImage; else coverImageElse" alt="Banner del anime"
            class="banner-img w-12" title="Banner del anime">
        <ng-template #coverImageElse>
            <img src="../../../../assets/img/banner-defecto.png" alt="Banner del anime" class="banner-img w-12"
                title="Banner del anime">
        </ng-template>
    </div>
    <div
        class="col-4 sm:col-4 md:col-4 lg:col-3 xl:col-3 px-2 sm:px-2 md:px-4 lg:px-4 xl:px-4 relative flex flex-column">
        <img [src]="media.coverImage.extraLarge"
            class="cover-img w-8rem sm:w-8rem md:w-20rem lg:w-20rem xl:w-20rem h-11rem sm:h-12rem md:h-21rem lg:h-21rem xl:h-21rem static sm:static md:absolute lg:absolute xl:absolute "
            alt="Portada del anime" title="Portada">
        <button pButton pRipple type="button" icon="fa-solid fa-heart"
            [ngClass]="{'p-button-outlined':!isFavorite}"
            (click)="updateFavorite(media.id)"
            class="my-2 p-button p-button-danger btn-favorite static sm:static md:absolute lg:absolute xl:absolute w-3rem sm:w-3rem md:w-3rem lg:w-3rem xl:w-3rem"></button>
    </div>
    <div class="col-8 sm:col-8 md:col-8 lg:col-9 xl:col-9 flex flex-column px-2 pt-2 sm:px-2 md:px-3 lg:px-4 xl:px-4"
        style="min-height: 225px;">
        <span class="text-bluegray-800 font-semibold text-xl sm:text-xl md:text-2xl lg:text-2xl xl:text-2xl">{{media.title.romaji}} - ({{media.title.native}})</span>
        <p [innerHTML]="media.description" *ngIf="media.description; else descriptionElse"
            class="py-2 text-justify text-bluegray-800 font-light line-height-3 text-base sm:text-lg md:text-xl lg:text-xl xl:text-xl"></p>
        <ng-template #descriptionElse>
            <p class="text-xl text-gray-600 text-justify">No hay descripción</p>
        </ng-template>
    </div>
    <div class="col-12 flex flex-wrap px-4 pt-4 pb-2">
        <p-tag icon="fa-solid fa-genderless" *ngFor="let genre of media.genres" [styleClass]="setColor(genre) + 'text-sm sm:text-sm md:text-base lg:text-base xl:text-base mb-2'"
            [value]="genre"></p-tag>
    </div>
    <div class="col-12 flex flex-wrap px-4 pb-4">
        <p-chip *ngFor="let tag of media.tags" icon="pi pi-tag" styleClass="mr-2 mb-2 bg-yellow-100 text-bluegray-800 font-light text-sm sm:text-sm md:text-base lg:text-base xl:text-base" [label]="tag.name">
        </p-chip>
    </div>
</section>
<section *ngIf="media" class="grid surface-card mt-3 mx-0 animate__animated animate__fadeIn animate__fast">
    <div class="col-12 flex">
        <p-tabView>
            <p-tabPanel>
                <ng-template pTemplate = "header">
                    <i class="fa-solid fa-person mr-2 hidden sm:hidden md:flex lg:flex xl:flex"></i>
                    <span class="text-sm sm:text-sm md:text-base lg:text-base xl:text-base">Personajes</span>
                </ng-template>
                <div class="characters">
                    <div class="flex flex-wrap flex-row px-4 justify-content-center sm:justify-content-center md:justify-content-between lg:justify-content-between xl:justify-content-between" infiniteScroll
                        (scrolled)="getCharactersMedia()" infiniteScrollContainer=".characters" [fromRoot]="true">
                        <app-character-card *ngFor="let character of characters"
                            class="grid surface-50 w-auto sm:w-auto md:w-25rem lg:w-30rem xl:w-30rem my-3 shadow-1 animate__animated animate__fadeIn animate__fast"
                            [character]="character"></app-character-card>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate = "header">
                    <i class="fa-solid fa-film mr-2 hidden sm:hidden md:flex lg:flex xl:flex"></i>
                    <span class="text-sm sm:text-sm md:text-base lg:text-base xl:text-base">Relacionados</span>
                </ng-template>
                <div class="relations flex flex-row pb-6">
                    <div *ngFor="let relation of relations">
                        <app-article-media [bgCard]="bgCard" [media]="relation"
                            class="flex flex-column shadow-none mb-2 w-12rem h-18rem sm:w-12rem md:w-15rem lg:w-15rem xl:w-15rem sm:h-18rem md:h-25rem lg:h-25rem xl:h-25rem">
                        </app-article-media>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate = "header">
                    <i class="fa-solid fa-play mr-2 hidden sm:hidden md:flex lg:flex xl:flex"></i>
                    <span class="text-sm sm:text-sm md:text-base lg:text-base xl:text-base">Recomendados</span>
                </ng-template>
                <div class="suggested">
                    <div class="flex flex-row pb-6" infiniteScroll (scrolled)="getSuggestedMedia()" [horizontal]="true"
                        infiniteScrollContainer=".suggested" [fromRoot]="true">
                        <div *ngFor="let sugg of suggested">
                            <app-article-media [media]="sugg" [bgCard]="bgCard"
                                class="flex flex-column shadow-none mb-2 w-12rem h-18rem sm:w-12rem md:w-15rem lg:w-15rem xl:w-15rem sm:h-18rem md:h-25rem lg:h-25rem xl:h-25rem">
                            </app-article-media>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
</section>
<section *ngIf="media" class="grid mt-3 px-0 animate__animated animate__fadeIn animate__fast">
    <div class="col-12 sm:col-12 md:col-7 lg:col-7 xl:col-7 flex flex-column justify-content-start align-items-center"
        *ngIf="media.trailer">
        <span class="text-xl py-2 w-11 text-left" t>Trailer</span> 
        <!-- <iframe type="text/html" class="w-11 h-14rem sm:h-14rem md:h-20rem lg:h-20rem xl:h-20rem" [src]="('https://www.youtube.com/embed/'+ media.trailer?.id) | safe"
            frameborder="0" controls="2" modestbranding="1" allowfullscreen></iframe> -->
    </div>
    <div class="col-12 sm:col-12 md:col-5 lg:col-5 xl:col-5 flex flex-wrap align-content-start">
        
        <!-- <div *ngFor="let mediaSmall of mediaSmall;">
            <app-data-media *ngIf="mediaSmall" [mediaSmall]="mediaSmall"
            class="flex flex-column p-card shadow-none border-round-xs align-items-start px-3 py-2 mr-2 mt-2">
            </app-data-media>
        </div> -->
    
        <app-data-media *ngIf="media.format" [data]="media.format" titleData="Formato"
            class="flex flex-column p-card shadow-none border-round-xs align-items-start px-3 py-2 mr-2 mt-2">
        </app-data-media>
        <app-data-media *ngIf="media.episodes" [data]="media.episodes" titleData="Episodios"
            class="flex flex-column p-card shadow-none border-round-xs align-items-start px-3 py-2 mr-2 mt-2">
        </app-data-media>
        <app-data-media *ngIf="media.duration" [data]="media.duration + ' min'" titleData="Duración"
            class="flex flex-column p-card shadow-none border-round-xs align-items-start px-3 py-2 mr-2 mt-2">
        </app-data-media>
        <app-data-media *ngIf="media.status" [data]="media.status" titleData="Estado"
            class="flex flex-column p-card shadow-none border-round-xs align-items-start px-3 py-2 mr-2 mt-2">
        </app-data-media>
        <app-data-media *ngIf="media.startDate.month && media.startDate.year && media.startDate.day"
            [data]="(media.startDate.month + '/'+ media.startDate.day + '/'+ media.startDate.year) | date"
            titleData="Fecha Inicio"
            class="flex flex-column p-card shadow-none border-round-xs align-items-start px-3 py-2 mr-2 mt-2">
        </app-data-media>
        <app-data-media *ngIf="media.endDate.month && media.endDate.year && media.endDate.day"
            [data]="(media.endDate.month + '/'+ media.endDate.day + '/'+ media.endDate.year) | date"
            titleData="Fecha Fin"
            class="flex flex-column p-card shadow-none border-round-xs align-items-start px-3 py-2 mr-2 mt-2">
        </app-data-media>
        <app-data-media *ngIf="media.season" [data]="media.season" titleData="Temporada"
            class="flex flex-column p-card shadow-none border-round-xs align-items-start px-3 py-2 mr-2 mt-2">
        </app-data-media>
        <app-data-media *ngIf="media.averageScore" [data]="media.averageScore / 100 | percent:'2.2-2'" titleData="Puntuación Promedio"
            class="flex flex-column p-card shadow-none border-round-xs align-items-start px-3 py-2 mr-2 mt-2">
        </app-data-media>
        <app-data-media *ngIf="media.meanScore" [data]="media.meanScore / 100 | percent:'2.2-2'" titleData="Puntuación Media"
            class="flex flex-column p-card shadow-none border-round-xs align-items-start px-3 py-2 mr-2 mt-2">
        </app-data-media>
        <app-data-media *ngIf="media.popularity" [data]="media.popularity" titleData="Popularidad"
            class="flex flex-column p-card shadow-none border-round-xs align-items-start px-3 py-2 mr-2 mt-2">
        </app-data-media>
        <app-data-media *ngIf="media.favourites" [data]="media.favourites" titleData="Favoritos"
            class="flex flex-column p-card shadow-none border-round-xs align-items-start px-3 py-2 mr-2 mt-2">
        </app-data-media>
        <app-data-media *ngIf="animation.length>0" [data]="animation" titleData="Animación"
            class="flex flex-column p-card shadow-none border-round-xs align-items-start px-3 py-2 mr-2 mt-2">
        </app-data-media>
        <app-data-media *ngIf="producers.length>0" [data]="producers" titleData="Productores"
            class="flex flex-column p-card shadow-none border-round-xs align-items-start px-3 py-2 mr-2 mt-2">
        </app-data-media>
        <app-data-media *ngIf="media.source" [data]="media.source" titleData="Fuente"
            class="flex flex-column p-card shadow-none border-round-xs align-items-start px-3 py-2 mr-2 mt-2">
        </app-data-media>
    </div>
</section>