<div class="grid mx-0 px-0 h-full overflow-hidden">
    <div class="col-12 flex flex-column justify-content-center py-4 h-full align-items-center animate__animated animate__jackInTheBox animate__slower">
        <div class="flex py-4">
            <img src="../../../assets/icons/Fairy-Tail.ico" class="mr-2 w-4rem" alt="">
            <span class="text-bluegray-800 text-4xl anime-text-logo">ANIKI</span>
        </div>
        <h2 class="text-bluegray-600 text-3xl text-center">Oops...! El enlace no es correcto, en breve será redireccionado al <span class="text-orange-500">LOGIN</span></h2>
    </div>
</div>
