
<div class="col-5 sm:col-4 md:col-4 lg:col-3 xl:col-3 flex justify-content-center">
    <img [src]="media.coverImage.large" class="w-12 sm:w-8 md:w-8 lg:w-9 xl:w-9 h-14rem sm:h-14rem md:h-19rem lg:h-19rem xl:h-19rem" alt="">
</div>
<div class="col-7 sm:col-8 md:col-8 lg:col-9 xl:col-9 flex flex-column">
    <h3 class="text-bluegray-800 font-bold text-lg sm:text-lg md:text-xl lg:text-xl xl:text-xl">{{media.title.romaji}}</h3>
    <h5  class="text-bluegray-800 font-normal text-base sm:text-base md:text-lg lg:text-lg xl:text-lg">{{media.title.native}}</h5>
    <p class="text-justify text-bluegray-800 font-light line-height-3 text-sm sm:text-sm md:text-base lg:text-base xl:text-base pt-2 pr-2" 
    [innerHTML]="media.description">
    </p>
</div>
<div class="col-12 flex flex-row justify-content-end">
    <button pButton pRipple type="button" [routerLink]="['/media/detail',media.id]" icon="fa-solid fa-add"
    class="p-button-rounded p-button-info"></button>
    <button pButton pRipple type="button" icon="fa-solid fa-heart"
    class="p-button-rounded p-button-danger ml-2" (click)="updateFavorite()"></button>
</div>
